.button {
  display: inline-block;
  width: calc(25% - 10px);
  font-size: 1.6rem;
  background: transparent;
  border: none;
  color: #cfd8dc;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #fff;
    background-color: lighten(#263238, 10%);
  }
  &:active {
    color: #fff;
    background-color: lighten(#263238, 20%);
  }
  &:nth-child(4n - 1) {
    margin: 0 15px;
  }
}
