.button {
  display: inline-block;
  width: calc(25% - 10px);
  font-size: 1.6rem;
  background: transparent;
  border: none;
  color: #cfd8dc;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
  &:nth-child(4n - 1) {
    margin: 0 15px;
  }
}
